.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.login-title {
  margin-bottom: 25px;
}

.login-links {
  text-align: right;
}
