.tracking-page {
  display: flex;
  gap: 25px;
  padding: 20px;
}

/* LEFT COLUMN */
.tracking-main {
  width: 55%;
  padding: 20px;
}

.delivered-box {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  align-items: center;
}

.delivered-icon {
  font-size: 28px;
  color: #008060;
}

.destination-box {
  margin-top: 20px;
}

.tracking-timeline {
  margin-top: 25px;
}

/* CENTER BLOCK */
.delivery-photo {
  width: 22%;
  padding: 20px;
  text-align: center;
}

/* RIGHT COLUMN */
.tracking-right {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.track-another,
.safety-card {
  padding: 20px;
}
